@media only screen and (min-width: 992px) {
}

/*==========================================================================================================*/
@media only screen and (max-width: 1600px) {
}

/*==========================================================================================================*/
@media only screen and (max-width: 1400px) {
    .container { width: 85%; }


}

/*==========================================================================================================*/
@media only screen and (max-width: 1199px) {
    body { font-size: 15px; padding: 2rem 0; }
    .container { width: 95%; }
    h4, .h4 { font-size: 1.425rem; }
    

}

/*==========================================================================================================*/
@media only screen and (max-width: 991px) {
    body { font-size: 15px; padding: 1.5rem 0; }
    .container { width: 95%; }
    h5, .h5 { font-size: 1.15rem; }


}

/*==========================================================================================================*/
@media only screen and (max-width: 767px) {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin: 0 0 0.5rem; }
    .container { width: 100%; }
    .header-box { padding: 1.5rem; }
    .header-img { position: static; height: 200px; margin: 1.5rem -1.5rem -1.5rem; width: auto; border-radius: 0; }
    h4, .h4 { font-size: 1.325rem; }
    .card-box { padding: 1rem; }
    .section-row { padding: 0.5rem 0; }
    body { padding: 1rem 0; }

}

/*==========================================================================================================*/
@media only screen and (max-width: 575px) {
    h4, .h4 { font-size: 1.3rem; }

}

/*==========================================================================================================*/
@media only screen and (max-width: 479px) {

}